body {
  margin: 0;
  background-color: #363636;
}

a {
  text-decoration: none;
  color: #fff;
}

text {
  color: #fff;
}

a:visited {
  color: #fff;
}

.container {
  padding: 1rem 2rem 0rem;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-wrapper {
  width: 23%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
nav .el-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .el-wrapper a {
  padding: 1.2rem 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 3rem;
  font-size: 1rem;
  color: #fff;
}
nav .el-wrapper a:hover {
  text-decoration: underline;
}
nav #logo {
  color: #fff;
  font-family: "Kanit";
  font-weight: 700;
  font-size: 2rem;
}
nav #logo span {
  font-family: "Kanit";
  font-weight: 100;
  font-size: 2rem;
}
nav .mcu {
  color: #fff;
  font-family: "Montserrat";
  font-weight: 200;
  font-size: 1rem;
  margin: 0;
  font-weight: 400;
}

.active {
  text-decoration: underline;
}

.break-line {
  border: solid #ededed 1px;
  width: 100%;
  margin: 0.5rem 0 1rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
footer .footer-links {
  width: 25%;
  display: flex;
  justify-content: space-around;
}
footer .footer-links a {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 3rem;
  font-size: 1rem;
  color: #fff;
}
footer .copyright {
  color: #fff;
  font-family: "Montserrat";
  font-weight: 200;
  font-size: 1rem;
}

.dialog {
  background-color: #363636;
  border: 1px solid #ededed;
  display: flex;
  flex-direction: column;
}
.dialog p {
  font-family: "Montserrat";
  font-weight: 200;
  font-size: 1rem;
  color: #fff;
  font-size: 1.7rem;
}
.dialog div {
  display: flex;
  justify-content: center;
}
.dialog button {
  text-align: center;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1rem;
  font-size: 1.5rem;
  border-radius: 15px;
  border: none;
  width: 12rem;
  height: 3.5rem;
  margin: 0 2rem;
  color: #fff;
  background-color: #ff772e;
}
.dialog button:last-child {
  color: #363636;
  background-color: #ededed;
}

.shadow {
  filter: blur(5px);
}

.infoPage {
  padding: 2rem;
  background-color: #363636;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.infoPage .leftCol {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #fff;
  font-family: "Montserrat";
  font-weight: 200;
  font-size: 1rem;
  margin: 0 3rem 0 0;
}
.infoPage .leftCol p {
  font-size: 1.3rem;
}
.infoPage .leftCol h3 {
  font-size: 1.5rem;
  color: #fff;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 3rem;
  margin: 0 0 1rem;
}
.infoPage .leftCol button {
  text-align: center;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1rem;
  font-size: 1.5rem;
  border-radius: 15px;
  border: none;
  width: 8rem;
  height: 3rem;
  margin: 2rem;
  color: #fff;
  background-color: #ff772e;
}
.infoPage .leftCol button:last-child {
  color: #363636;
  background-color: #ededed;
}
.infoPage .rightCol {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.infoPage .rightCol img {
  max-width: 100%;
  height: auto;
}

/*# sourceMappingURL=general.css.map */
