h3 {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 3rem;
  color: #fff;
}

.table {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.table-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 0 1rem;
}
.table-row:first-child {
  border-bottom: 1px solid #ccc;
}
.table-row:nth-child(odd) button {
  background-color: #ff772e;
  color: #fff;
}
.table-row:nth-child(odd) button:hover {
  box-shadow: 0px -11px 34px 16px rgba(255, 119, 46, 0.3);
  -webkit-box-shadow: 0px -11px 34px 16px rgba(255, 119, 46, 0.3);
  -moz-box-shadow: 0px -11px 34px 16px rgba(255, 119, 46, 0.3);
}
.table-row:nth-child(even) button {
  background-color: #ededed;
  color: #363636;
}
.table-row:nth-child(even) button:hover {
  box-shadow: 0px -11px 34px 16px rgba(237, 237, 237, 0.3);
  -webkit-box-shadow: 0px -11px 34px 16px rgba(237, 237, 237, 0.3);
  -moz-box-shadow: 0px -11px 34px 16px rgba(237, 237, 237, 0.3);
}
.table-row div {
  color: #fff;
  font-family: "Montserrat";
  font-weight: 200;
  font-size: 1rem;
  font-size: 2rem;
}
.table-row .film {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 3rem;
  font-size: 2rem;
}
.table-row button {
  text-align: center;
  color: #fff;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1rem;
  font-size: 1.5rem;
  border-radius: 15px;
  border: none;
  width: 10rem;
  height: 4rem;
}

.film {
  flex-basis: 25%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.data {
  flex-basis: 20%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ora {
  flex-basis: 20%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.posti {
  flex-basis: 20%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bottone {
  flex-basis: 10%;
}

.prenotazione {
  display: flex;
  justify-content: space-between;
}
.prenotazione .left-col {
  flex-basis: 50%;
}
.prenotazione .left-col p {
  font-family: "Montserrat";
  font-weight: 200;
  font-size: 1rem;
  color: #fff;
  font-size: 1.7rem;
}
.prenotazione .left-col button {
  text-align: center;
  color: #fff;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1rem;
  background-color: #ff772e;
  font-size: 1.5rem;
  border-radius: 15px;
  border: none;
  width: 12rem;
  height: 3.5rem;
}
.prenotazione .right-col {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prenotazione .right-col table {
  border-spacing: 10px;
  width: 50%;
  border-collapse: separate;
}
.prenotazione .right-col table td {
  border: 1px solid #ededed;
  padding: 0.6rem 0.4rem;
}
.prenotazione .right-col table td:hover {
  background-color: #ff772e;
  border: 1px solid #ff772e;
}
.prenotazione .right-col table .selected {
  background-color: #ededed;
}
.prenotazione .right-col table .occupied {
  background-color: red;
  border-color: red;
}
.prenotazione .right-col table .occupied:hover {
  background-color: red;
  border-color: red;
}

.conferma {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.conferma h1 {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 3rem;
  font-size: 4rem;
  color: #fff;
}
.conferma p {
  font-family: "Montserrat";
  font-weight: 200;
  font-size: 1rem;
  font-size: 2rem;
  color: #fff;
  margin: 0 0 6rem;
}
.conferma button {
  font-size: 1.5rem;
  border-radius: 15px;
  border: none;
  width: 12rem;
  height: 3.5rem;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  margin: 2rem 3rem;
}
.conferma button:first-child {
  color: #fff;
  background-color: #ff772e;
}
.conferma button:last-child {
  color: #363636;
  background-color: #ededed;
}

/*# sourceMappingURL=proiezioni.css.map */
