@import 'style-guide';

body{
    margin: 0;
    background-color: $background;
}

a {
    text-decoration: none;
}

text {
    color: $text;
}

a:visited{
    color:$text;
}
.container{
    padding: 1rem 2rem 0rem;
    margin: 0;
}

nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    .nav-wrapper{
        width: 23%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }

    .el-wrapper {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        a {
            padding: 1.2rem 0;
            box-sizing: border-box;
            @include title;
            font-size: 1rem;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    #logo {
        color: $text;
        @include logoPrimary();
        span {
            @include logoSecondary();
        }
    }
    form {
        input {
            background-color: $secondary;
            padding: 0.4rem;
            width: 15rem;
            border-radius: 5px;
            background-image: url(../../resources/magnifying-glass-solid.svg);
            background-repeat: no-repeat;
            background-position: right 2px center;

            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
    }

}

.break-line{
    border: solid $secondary 1px;
    width: 100%;
    margin: 0.5rem 0 1rem;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    .footer-content{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .footer-links {
        width: 25%;
        display: flex;
        justify-content: space-around;
        a{
            @include title();
            font-size: 1rem;
            color: $text;
        }
    }
        .copyright {
            color: $text;
            @include paragraph();
        }
}

