@import 'style-guide';

main{
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    h2 {
        @include quote();
        margin: 1px 0 2rem;
    }

    .main-buttons{
        width: 50vw;
        display: flex;
        justify-content: space-between;
        a {
            text-align: center;
            color: $text;
            @include button();
            font-size: 2rem;
            border-radius: 15px;
            padding: 1.5rem;
            &:nth-child(1){
                background-color: $primary;
            }
            &:nth-child(2){
              background-color: $secondary;
              color: $background;
            }
            &:nth-child(1):hover{
                box-shadow: 0px -11px 34px 16px rgba(255, 119, 46, 0.3);
                -webkit-box-shadow: 0px -11px 34px 16px rgba(255, 119, 46, 0.3);
                -moz-box-shadow: 0px -11px 34px 16px rgba(255, 119, 46, 0.3);
            }
            &:nth-child(2):hover {
                box-shadow: 0px -11px 34px 16px rgba(237, 237, 237, 0.3);
                -webkit-box-shadow: 0px -11px 34px 16px rgba(237, 237, 237, 0.3);
                -moz-box-shadow: 0px -11px 34px 16px rgba(237, 237, 237, 0.3);
            }
        }
    }   
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 2rem;
    h3 {
        @include title();
        color: $text;
    }

    .film-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 70%;
        .film-card {
            display:flex;
            flex-direction: column;
            align-items: center;
            max-width: 25%;
            margin: 0 0 2rem;
            h6{
                @include title();
                color: $text;
                font-size: 1rem;
                margin: 0 0 1rem;
            }
            img {
                width: 70%;
            }

            button {
                @include button();
                margin: 1rem 0;
                border-radius: 7px;
                padding: 0.5rem 1.5rem;
                background-color: $primary;
                color: $text;
                border: none;
            }

            button:hover{
                box-shadow: 0px -11px 34px 16px rgba(255, 119, 46, 0.3);
                -webkit-box-shadow: 0px -11px 34px 16px rgba(255, 119, 46, 0.3);
                -moz-box-shadow: 0px -11px 34px 16px rgba(255, 119, 46, 0.3);
            }
        }
    }
}