@import 'style-guide';

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3{
    @include title;
    color: $text;
}

.inputform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    input{
        border: none;
        border-radius: 20px;
        color: $secondary;
        width: 59rem;
        height: 2.5rem;
        margin: 0 0 2rem;
        color: $background;
        font-size: 2rem;
        padding: 1rem;
    }

    input:focus{
        outline-width: 0;
    }

    button {
        border-radius: 15px;
        border: none;
        width: 12rem;
        height: 3.5rem;
        @include button();
        text-align: center;
        margin: 2rem 3rem;
        &:first-child{
            color: $text;
            background-color: $primary;
        }
        &:last-child {
            color: $background;
            background-color: $secondary;
        }
    }
}

.prenotazione {
    display: flex;
    justify-content: space-between;

    .left-col {
        flex-basis: 50%;

        p {
            @include paragraph;
            color: $text;
            font-size: 1.7rem;
        }

        button {
            text-align: center;
            color: $text;
            @include button();
            background-color: $primary;
            font-size: 1.5rem;
            border-radius: 15px;
            border: none;
            width: 12rem;
            height: 3.5rem;
        }

        .containerBtn{
            button {
                width: 12rem;
                height: 4.5rem;
                &:first-child{
                    margin: 0 2rem 0 0;
                    background-color: $secondary;
                    color: $background;
                }
            }
        }
    }

    .right-col {
        flex-basis: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        table {
            border-spacing: 10px;
            width: 50%;
            border-collapse: separate;

            td {
                border: 1px solid $secondary;
                padding: 0.6rem 0.4rem;
            }

            .selected {
                background-color: red;
                border-color: red;
                &:hover {
                    background-color: $primary;
                    border-color: $primary;
                }
            }

            .occupied {
                background-color: $secondary;
                border-color: $secondary;

                &:hover {
                    background-color: $primary;
                    border-color: $primary;
                }
            }
        }
    }
}