@import 'style-guide';

h3 {
    @include title;
    color: $text;
}

.table{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.table-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 1rem;
    &:first-child{
        border-bottom: 1px solid #ccc;
    }
    &:nth-child(odd){
        button {
            background-color: $primary;
            color: $text;
        }

        button:hover{
            box-shadow: 0px -11px 34px 16px rgba(255, 119, 46, 0.3);
            -webkit-box-shadow: 0px -11px 34px 16px rgba(255, 119, 46, 0.3);
            -moz-box-shadow: 0px -11px 34px 16px rgba(255, 119, 46, 0.3);
        }
    }
    &:nth-child(even) {
        button {
            background-color: $secondary;
            color: $background;
        }
        
        button:hover{
            box-shadow: 0px -11px 34px 16px rgba(237, 237, 237, 0.3);
            -webkit-box-shadow: 0px -11px 34px 16px rgba(237, 237, 237, 0.3);
            -moz-box-shadow: 0px -11px 34px 16px rgba(237, 237, 237, 0.3);
        }
    }

    div{
        color: $text;
        @include paragraph;
        font-size: 2rem;
    }

    .film{
        @include title;
        font-size: 2rem;
    }
    
    button {
        text-align: center;
        color: $text;
        @include button();
        font-size: 1.5rem;
        border-radius: 15px;
        border: none;
        width: 10rem;
        height: 4rem;
    }
}

.film {
    flex-basis: 25%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.data {
    flex-basis: 20%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ora {
    flex-basis: 20%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.posti {
    flex-basis: 20%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bottone{
    flex-basis: 10%;
}

.prenotazione {
    display: flex;
    justify-content: space-between;

    .left-col {
        flex-basis: 50%;
        p {
            @include paragraph;
            color: $text;
            font-size: 1.7rem;
        }
        
        button {
            text-align: center;
            color: $text;
            @include button();
            background-color: $primary;
            font-size: 1.5rem;
            border-radius: 15px;
            border: none;
            width: 12rem;
            height: 3.5rem;
        }
    }

    .right-col{
        flex-basis: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        table {
            border-spacing: 10px;
            width: 50%;
            border-collapse: separate;
            td {
                border: 1px solid $secondary;
                padding: 0.6rem 0.4rem;
            }
            td:hover{
                background-color: $primary;
                border: 1px solid $primary;
            }

            .selected {
                background-color: $secondary;
            }

            .occupied{
                background-color: red;
                border-color: red;
                &:hover{
                    background-color: red;
                    border-color: red;
                }
            }
        }
    }
}

.conferma{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        @include title;
        font-size: 4rem;
        color: $text;
    }

    p{
        @include paragraph;
        font-size: 2rem;
        color: $text;
        margin: 0 0 6rem;
    }
}