@import 'style-guide';

h3 {
    @include title;
    color: $text;
}

.table{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.table-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 1rem;
    &:first-child{
        border-bottom: 1px solid #ccc;
    }
    &:nth-child(odd){
        button {
            background-color: $primary;
            color: $text;
        }

        button:hover{
            box-shadow: 0px -11px 34px 16px rgba(255, 119, 46, 0.3);
            -webkit-box-shadow: 0px -11px 34px 16px rgba(255, 119, 46, 0.3);
            -moz-box-shadow: 0px -11px 34px 16px rgba(255, 119, 46, 0.3);
        }
    }
    &:nth-child(even) {
        button {
            background-color: $secondary;
            color: $background;
        }
        
        button:hover{
            box-shadow: 0px -11px 34px 16px rgba(237, 237, 237, 0.3);
            -webkit-box-shadow: 0px -11px 34px 16px rgba(237, 237, 237, 0.3);
            -moz-box-shadow: 0px -11px 34px 16px rgba(237, 237, 237, 0.3);
        }
    }

    div{
        color: $text;
        @include paragraph;
        font-size: 2rem;
    }

    .film{
        @include title;
        font-size: 2rem;
    }
    
    button {
        text-align: center;
        color: $text;
        @include button();
        font-size: 1.5rem;
        border-radius: 15px;
        border: none;
        width: 10rem;
        height: 4rem;
    }
}

.film {
    flex-basis: 25%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.data {
    flex-basis: 20%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ora {
    flex-basis: 20%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.posti {
    flex-basis: 20%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bottone{
    flex-basis: 10%;
}