$primary: #ff772e;
$secondary: #ededed;
$accent: #ff772e;
$background: #363636;
$text: #fff;

@mixin logoPrimary {
    font-family: 'Kanit';
    font-weight: 700;
    font-size: 2rem;
}

@mixin logoSecondary {
    font-family: 'Kanit';
    font-weight: 100;
    font-size: 2rem;
}

@mixin quote {
    font-family: 'Kanit';
    font-weight: 100;
    font-size: 7rem;
    font-style: italic;
    color: $text;
}

@mixin paragraph {
    font-family: 'Montserrat';
    font-weight: 200;
    font-size: 1rem;
}

@mixin button {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 1rem;
}

@mixin title {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 3rem;
}